if SHIELD_SPLIT_FISH_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "SplitFish Glen"

#currently central is the left side
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

#if SHIELD_SPLIT_FISH_RIGHT
#
#config ZMK_SPLIT_ROLE_CENTRAL
#    default y
#    
#endif

if SHIELD_SPLIT_FISH_LEFT || SHIELD_SPLIT_FISH_RIGHT

config CONFIG_ZMK_BLE_CLEAR_BONDS_ON_START
    default y

config ZMK_BLE_EXPERIMENTAL_CONN
    default y

config ZMK_SPLIT
    default y

endif
