#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define MAC   1
#define SYMB   2
#define NAVI   3
#define LAYER 4
#define CSGO    5

/ {
    keymap {
        compatible = "zmk,keymap";


        default_layer { // Layer 0
            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp T                   
                &kp Y    &kp U    &kp I    &kp O    &kp P
                
                &kp A    &kp S   &kp D   &kp F   &kp G                   
                &kp H    &kp J   &kp K   &kp L   &kp SEMICOLON
                
                &kp Z    &kp X    &kp C        &kp V      &kp B                   
                &kp N                &kp M    &kp COMMA    &kp DOT    &kp SLASH
                
                &kp A          &kp B     &mt LEFT_CONTROL TAB    
                &kp LEFT_SHIFT    &kp SPACE    &mt LEFT_CONTROL RET

            >;
        };
    };
 };
